/* App.css */
body {
    background-color: #ffedb3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.Todos {
    max-width: 800px;
    width: 100%;
    background-color: #fff7e6;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todos-title {
    text-align: center;
    margin-bottom: 10px;
}

.todos-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todos-input input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.add-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.sort-button {
    background-color: #ffa500;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.sort-button.active {
    background-color: #ff7f00;
}

.todos-table {
    width: 100%;
    border-collapse: collapse;
}

.todos-table th,
.todos-table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.todos-table th {
    background-color: #f2f2f2;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

.delete-icon {
    cursor: pointer;
    text-align: center;
}

.quote {
    text-align: center;
    margin-top: 20px;
}
