@page "/"

<PageTitle>Index</PageTitle>
<link rel="stylesheet" href="style.css"> <!-- CSS dosyanızın yolunu buraya ekleyin -->
<h1>Welcome to Data Crawler!</h1>

You can view the orders, order details and the products of the order and get information.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@